<div class="container group__container">
  <div class="group__alert">
    <% if @flash %>
      <div class="alert alert-<%= @flash["type"] %>" role="alert">
        <%= @flash["message"] %>
      </div>
    <% end %>
  </div>
  <h1><%= @group.name %></h1>

  <nav class="group__tab">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">TOP</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">メンバー</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <% if @user.role == 'member' %>
        <form class="group__question-form" action='/create_contribution/<%=@user.id %>/<%=@group.id%>' method='POST'  enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">内容</label>
            <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">どれくらいやばい？</label>
            <select name="priority" class="form-control" id="exampleFormControlSelect1">
              <option value="high">やばい</option>
              <option value="medium">まあまあ</option>
              <option value="low">できれば</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">参考画像</label>
            <input name="image" type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary pull-right">変更</button>
          </div>
        </form>
      <% end %>
      <% @contributions.each do |contribution| %>
        <div class="card">
          <div class="card-body group__card">
            <div class="card__icon-container">
              <img class="card__user-icon rounded-circle img-fluid" src="<%= contribution.user.image %>" width="32px" height="32px" alt="" >
            </div>
            <div class="card__container">
              <h5 class="card-title"><%= contribution.user.name %></h5>
              <p class="card-text"><%= contribution.body %></p>
              <% if contribution.image.file != nil %>
                <img src="<%= contribution.image_url %>" alt="">
              <% end %>
              <div class="card__information">
                <p class="card-text"><small class="text-muted"><%= contribution.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %T") %></small></p>

              <%# ここのコード汚すぎへんか？ %>
                <% if contribution.user_id == @user.id || @user.role == 'mentor' %>
                  <select class="form-control card__select card__priority text-white <%= @priority_color[contribution.priority]%>" id="card-priority" name="priority <%=contribution.id %>">
                    <option value="high"   <%= 'selected' if contribution.priority == 'high'%>   >やばい</option>
                    <option value="medium" <%= 'selected' if contribution.priority == 'medium'%> >まあまあ</option>
                    <option value="low"    <%= 'selected' if contribution.priority == 'low'%>    >できれば</option>
                  </select>
                  <select class="form-control card__select card__status text-white <%= @status_color[contribution.status] %>" id="card-status" name="status <%= contribution.id %>">
                    <option value="new"   <%= 'selected' if contribution.status == 'new'%>   >これから</option>
                    <option value="doing" <%= 'selected' if contribution.status == 'doing'%> >取り掛かり中</option>
                    <option value="done"  <%= 'selected' if contribution.status == 'done'%>  >終わり</option>
                  </select>
                <% else %>
                  <div class="card__badge">
                    <span class="badge <%= @priority_badge[contribution.priority][0] %>"> <%= @priority_badge[contribution.priority][1] %> </span>
                    <span class="badge <%= @status_badge[contribution.status][0] %>"> <%= @status_badge[contribution.status][1] %> </span>
                  </div>
                <% end %>
              <%# ここまで %>
              </div>
            </div>
            <% if contribution.user_id == @user.id %>
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="hoge" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="hoge">
                    <a class="dropdown-item" href="/edit_contribution/<%= contribution.group_id %>/<%= contribution.id %>">編集</a>
                    <a class="dropdown-item" href="/confirm_destroy_contribution/<%= contribution.group_id %>/<%= contribution.id %>">削除</a>
                </div>
              </div>
            <% elsif @user.role == 'mentor' %>
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="hoge" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="hoge">
                    <a class="dropdown-item" href="/confirm_destroy_contribution/<%= contribution.group_id %>/<%= contribution.id %>">削除</a>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <% if @user.role == 'mentor' %>
        <form class="group__invite-form" id="invite-form" name=<%= @group.id %>>
          <div class="form-group mr-2 mb-2">
            <input type="text" class="form-control" id="invite-id" placeholder="ユーザーID">
          </div>
          <button type="button" id="invite-button" class="btn btn-primary mb-2">招待</button>
        </form>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">名前</th>
            <th scope="col">役割</th>
          </tr>
        </thead>
        <tbody>
          <% @group_users.each do |user| %>
          <tr>
            <th scope="row">
              <img class="group__user-icon" src="<%= user.image %>" width="24px" height="24px" alt="">
            </th>
            <td><%= user.screen_name %></td>
            <td><%= @role[user.role.to_sym] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(function() {
    $('#invite-button').on('click', () => {
      const user_id = $('#invite-id').val()
      const group_id = $('#invite-form')[0].name
      $('#invite-id').val('')
      $.ajax({
        url: `/invite_user/${group_id}/${user_id}`,
        method: "POST"
      }).then(result => {
        console.log(result)
        switch(result) {
          case 'already exists':
            $('.alert').remove();
            $('.group__alert').append('<div class="alert alert-warning" role="alert">入力されたユーザーはすでに招待されています。</div>')
            break;
          case 'success':
            $('.alert').remove();
            $('.group__alert').append('<div class="alert alert-success" role="alert">ユーザーの招待に成功しました！</div>')
            break;
          case 'fail':
            $('.alert').remove();
            $('.group__alert').append('<div class="alert alert-danger" role="alert">入力されたユーザーが見つかりませんでした。</div>')
            break;
          default:
            break;
        }
      },
      (XMLHttpRequest, textStatus, errorThrown) => {
        console.log("XMLHttpRequest : " + XMLHttpRequest.status);
        console.log("textStatus     : " + textStatus);
        console.log("errorThrown    : " + errorThrown.message);
      })
    })
    //セレクトボックスが切り替わったら発動
    $('.card__select').change(function() {
      //選択したvalue値を変数に格納
      const val = $(this).val();
      const information = $(this)[0].name.split(' ')
      const name = information[0]
      const id = information[1]
      switch(name) {
        case 'priority':
          $.ajax({
            url: `/change_priority/${id}`,
            method: "POST",
            data: {
              priority: val
            },
          }).then(n => {
              console.log({n})
            },
            (XMLHttpRequest, textStatus, errorThrown) => {
              console.log("XMLHttpRequest : " + XMLHttpRequest.status);
              console.log("textStatus     : " + textStatus);
              console.log("errorThrown    : " + errorThrown.message);
          })
          const primary_color = {
            high: 'bg-danger',
            medium: 'bg-warning',
            low: 'bg-primary',
          }
          $(this).removeClass()
          $(this).addClass(`form-control card__priority text-white ${primary_color[val]}` )
          break;
        case 'status':
          $.ajax({
            url: `/change_status/${id}`,
            method: "POST",
            data: {
              status: val
            },
          }).then(n => {
              console.log({n})
            },
            (XMLHttpRequest, textStatus, errorThrown) => {
              console.log("XMLHttpRequest : " + XMLHttpRequest.status);
              console.log("textStatus     : " + textStatus);
              console.log("errorThrown    : " + errorThrown.message);
          })
          const status_color = {
            new: 'bg-info',
            doing: 'bg-primary',
            done: 'bg-success',
          }
          $(this).removeClass()
          $(this).addClass(`form-control card__priority text-white ${status_color[val]}` )
          break;
        default:
          console.log('default')
      }
    });
  });
</script>
